*/target/**
target/
bin/
*/.settings/**
*/.DS_Store
.DS_Store
**/*.log
*.class
*.log
resources/log/*
resources/uploads/*
resources/rsa_keys/*
__pycache__
*.db
*.pickle
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
# Ignore node_modules folder
node_modules
.txt
*.txt
node_modules/